.cm-list-widget {
  cursor: pointer;
  margin-left: -0.8em;
}

.cm-lineNumbers {
  padding-right: .5em;
}

.cm-editor .cm-foldGutter {
  opacity: 0;
}

.cm-editor .cm-gutters {
  z-index: 0;
}

.cm-fold-widget.collapse-indicator {
  display: inline-block;
  color: var(--text-muted);
  cursor: pointer;
}

.is-collapsed.collapse-icon svg {
  transform: rotate(-90deg);
}

.cm-fold-widget {
  position: relative;
}

.cm-fold-widget svg {
  position: absolute;
  top: -0.6rem;
  left: -12px;
}
